$color-primary: rgba(46, 43, 127, 0.76);
$color-primary-light: rgba(121, 108, 167, 0.81);
$color-primary-dark: rgba(39, 40, 87, 0.49);

$color-secondary-light: #b8a607;
$color-secondary-dark: #de5d07;
$color-tertiary-light: #0780b8;
$color-tertiary-dark: #071fb8;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e0d2d2;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;